.group
  button.button
    i.material-icons format_align_left
  button.button
    i.material-icons format_align_center
  button.button
    i.material-icons format_align_right
.group
  button.button
    i.material-icons format_bold
  button.button
    i.material-icons format_italic
  button.button
    i.material-icons format_underlined
